.navigate {
    background-color: black;
    color: white;
}

.nav-div {
    padding: 10px 0px;
}

.nav-text {
    text-align: center;
}

.game-grid {
    border: 1px; border-color: red; border-style: solid;
    /* margin: 10px 3px; */
    height: 150px;
    width: 30%;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 30%
}

.button-nav {
    background-color: rgb(99, 121, 103);
}

.button-div {
    padding: 10px 0px;
    display: flex;
    justify-content: center;
}

main {
    margin-top: 150px
}